@using Itlaflix.Core.Application.ViewModel.producer
@model ProducerViewModel
@{
    ViewData["Title"] = "Eliminar Producer";
}

<div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Esta seguro de eliminar este productor?</h5>
        <p class="card-text">Este productor será permanentemente eliminado de la base de datos.</p>
        <form method="post" asp-controller="Producer" asp-action="DeletePost">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-controller="Producer" asp-action="Index" class="btn btn-primary">Canselar</a>

        </form>
        
    </div>
</div>
