@using Itlaflix.Core.Application.ViewModel.serie
@model SerieViewModel
@{
    ViewData["Title"] = "Eliminar Serie";
}

<div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Esta seguro de eliminar esta serie?</h5>
        <p class="card-text">Esta serie será permanentemente eliminada de la base de datos.</p>
        <form method="post" asp-controller="Serie" asp-action="DeletePost">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-controller="Serie" asp-action="Index" class="btn btn-primary">Canselar</a>

        </form>
        
    </div>
</div>
